<div class="select" tabindex="1">
    <input class="options-select " name="selectors" type="radio" id="gift1" >
    <label for="gift1" class="option check" style="background-color: white;">All</label>
    <input class="options-select" name="selectors" type="radio" id="gift2">
    <label for="gift2" class="option"  style="background-color: white;">Delivered</label>
    <input class="options-select" name="selectors" type="radio" id="gift3">
    <label for="gift3" class="option"  style="background-color: white;">Cancelled</label>
   
   </div>