<div class="mb-3 text-end">
  <p class="nav-breadcrumb">Account / <span>Help Center</span></p>  
</div>
<h4 class="application-heading">Notifications</h4>
<div class="card">
    <div class="notification-box  d-flex align-items-center ">
        <div class="second">
        <h5>Account as been Confirmed</h5>
        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
        </div>
        <div class="first">
            <img src="assets/images/close-not.svg">   
           </div>
         </div>
         <div class="notification-box  d-flex align-items-center ">
            <div class="second">
            <h5>Account as been Confirmed</h5>
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
            </div>
            <div class="first">
                <img src="assets/images/close-not.svg">   
               </div>
             </div>
             <div class="notification-box  d-flex align-items-center ">
                <div class="second">
                <h5>Account as been Confirmed</h5>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                </div>
                <div class="first">
                    <img src="assets/images/close-not.svg">   
                   </div>
                 </div>
                 <div class="notification-box  d-flex align-items-center ">
                    <div class="second">
                    <h5>Account as been Confirmed</h5>
                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                    </div>
                    <div class="first">
                        <img src="assets/images/close-not.svg">   
                       </div>
                     </div>
                     <div class="notification-box  d-flex align-items-center ">
                        <div class="second">
                        <h5>Account as been Confirmed</h5>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                        </div>
                        <div class="first">
                            <img src="assets/images/close-not.svg">   
                           </div>
                         </div>
                         <div class="notification-box  d-flex align-items-center ">
                            <div class="second">
                            <h5>Account as been Confirmed</h5>
                            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                            </div>
                            <div class="first">
                                <img src="assets/images/close-not.svg">   
                               </div>
                             </div>
                             <div class="notification-box  d-flex align-items-center ">
                                <div class="second">
                                <h5>Account as been Confirmed</h5>
                                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                                </div>
                                <div class="first">
                                    <img src="assets/images/close-not.svg">   
                                   </div>
                                 </div>
                                 <div class="notification-box  d-flex align-items-center ">
                                    <div class="second">
                                    <h5>Account as been Confirmed</h5>
                                    <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
                                    </div>
                                    <div class="first">
                                        <img src="assets/images/close-not.svg">   
                                       </div>
                                     </div>
</div>
