<div class="mb-3 text-end">
    <p class="nav-breadcrumb">Account / <span>Help Center</span></p>  
  </div>
  <h4 class="application-heading">Help</h4>
<div class="card ">
     <div class="row ">
        <mat-tab-group mat-stretch-tabs [selectedIndex]="1">
         
                <mat-tab label="Contact Support"  class="col"> 
                    <div class="card-body">
                        <div class="row help-row align-items-center justify-content-center">
                           <div class="col-md-5">
                            <img src="assets/images/contact-uss.png" class="img-fluid profile-pic">
                           </div> 
                           <div class="col-md-6 text-start offset-xl-1 offset-lg-1">
                               <h5 class="talk">How can we help you ?</h5>
                               <h4 class="number-mb"><img src="assets/images/phone.svg" class="img-fluid number-pic"> + 971 5362878960</h4>
                               <h4 class="number-mb"><img src="assets/images/email.svg" class="img-fluid number-pic"> giftonn.info@gmail.com</h4>
                        </div> 
                        </div>
                        </div>
                        </mat-tab>
                        <mat-tab label="Chat"   class="col" >  
                            <div class="card-body">
                               
                                <div class="mt-3 mb-3">&nbsp;</div>
                                <div class="row message"
                     id="conversation">
                  <div class="col-12 col-md-12">
                    <!--Messages-->
                    <div class="row message-body">
                        <div class="col-sm-12 message-main-receiver">
                          <div class="receiver">
                            <div class="message-text" style="color:black">
                              Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                            </div>
                          </div>
                         
                        </div>
                      </div>
                      <div class="row message-body">
                        <div class="col-sm-12 message-main-sender">
                            
                          <div class="sender">
                            <p class="rec_time">Friday <span>15:25</span></p>
                            <div class="message-text" style="background-color: #eea7a7;">
                              I am doing nothing man!
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="send_bu"></div>
                      <div class="row reply">
                        <div class="col-9 col-sm-9 reply-main">
                          <i class="bi bi-plus"></i>
      
                          <div class="send_textarea">
                            <textarea class="form-control write_message"
                                      rows="1"
                                      id="comment"
                                      placeholder="Add Text to this message..."></textarea>
                            <i class="bi bi-send-fill"></i>
                          </div>
                        </div>
                      </div>
                    <!--sent message component-->
                  </div>
                </div> 
                                  
                            </div>
                                </mat-tab>
                                <mat-tab label="FAQ’s" class="col"> 
                                    <div class="card-body  px-0">
                                        <mat-accordion [multi]="false">
                                         
                                       
                                              <mat-expansion-panel hideToggle #example>
                                             
                                                <mat-expansion-panel-header >
                                                  <mat-panel-title>   Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry?</mat-panel-title>
                                                  <i class="las la-plus iconplus-minus" *ngIf="!example.expanded"></i>
                                                  <i class="las la-minus iconplus-minus" *ngIf="example.expanded"></i>
                                               
                                                </mat-expansion-panel-header> 
                                                <mat-panel-description>
                                                
                                                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                                 
                                                </mat-panel-description>
                                           
                                              </mat-expansion-panel>
                                            <mat-expansion-panel hideToggle #example>
                                             
                                              <mat-expansion-panel-header >
                                                <mat-panel-title>   Lorem Ipsum is simply dummy text of the printing and typesetting
                                                    industry?</mat-panel-title>
                                                <i class="las la-plus iconplus-minus" *ngIf="!example.expanded"></i>
                                                <i class="las la-minus iconplus-minus" *ngIf="example.expanded"></i>
                                             
                                              </mat-expansion-panel-header>
                                              <mat-panel-description>
                                              
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                                               
                                              </mat-panel-description>
                                         
                                            </mat-expansion-panel>
                                         
                                          
                                          </mat-accordion>
                                        </div>
                                        </mat-tab>
            </mat-tab-group>                 
   
 
 
 
 
 

 </div>
</div>


    
       

 

