
	<nav class="navbar navbar-expand-sm position-relative ">
	    
<span class="vendor-panel">Vendor Panel</span>
        <ul class="navbar-nav ms-auto order-0 align-items-center flex-sm-row ">
            <li class="nav-item dropdown">
                <a class="nav-icon nav-loc-span d-flex align-items-center" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  <img class="img-fluid " src="assets/images/profilepic.svg" style="width:32px;height:32px" alt="header-image">
                  <span class="user-name-header">Peter</span>
                  </a>
                  <ul class="dropdown-menu vendordrop" aria-labelledby="dropdownMenuButton1">
                    <li class="img-link-drop"> <img class="img-fluid " src="assets/images/profilepic.svg" style="width:32px;height:32px" alt="header-image">
                      <span class="user-name-header">Peter parker</span></li>
                    <li><a class="dropdown-item"  routerLink="/edit-profile">Edit Profile</a></li>
                    <li><a class="dropdown-item"  routerLink="/preferences">Preferences</a></li>
                    <li><a class="dropdown-item" routerLink="/help">Help Center</a></li>  
                    <li><a class="dropdown-item" routerLink="/notifications">Notifications</a></li>
                    <li><a class="dropdown-item" href="#">Logout</a></li> 
                  </ul>
                  </li>
              
			<li class="nav-item">
			  <a class="nav-link" routerLink="/notifications"  >  <img class="img-fluid bell" src="assets/images/bell.svg" alt="header-image"></a>
			</li>
	
		  </ul>

	</nav>
