
.onbaord-box{
    background: #F4F6F9;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1.75rem;
}
.centerimage {
    height: 157px  !important;
}
.centerimage{
    height: 160px;
}
.onbaord-box li span{
    display: block;
    font-size: 0.7rem;
    font-weight: 500;
    margin-top: 0.1rem;
    line-height: 18px;
}
.onbaord-box li h3{
    font-size: 0.9rem;
    font-weight: 600;
margin-bottom: 0;
}
.onbaord-box a{
    text-decoration: none;
}
.onbaord-box ul{
margin-bottom: 0;
}