<h4 class="application-heading">Onboarding</h4>
<div class="card">
    <img src="assets/images/onboard.svg" class="img-fluid centerimage" />
    <p class="cardp mt-3 mb-4" >Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.</p>
<div class="row">
  <div class="col-md-6"> 

      <div class="onbaord-box"> 
        <a  routerLink="/vendor-policy">
        <ul class="list-inline d-flex align-items-center">
            <li class="list-inline-item"><img src="assets/images/insurance.svg" /></li>
            <li class="list-inline-item ps-1"><h3>Vendor Policies<span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin and going through the cites of the word in classical literature, discovered the undoubtable source.</span></h3></li>  
          </ul>
        </a>
      </div>
   
  </div> 
  <div class="col-md-6">

    <div class="onbaord-box"> 
      <a  routerLink="/vendor-terms">
      <ul class="list-inline d-flex align-items-center">
          <li class="list-inline-item"><img src="assets/images/Contract.svg" /></li>
          <li class="list-inline-item ps-1"><h3>Terms & Conditions<span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin and going through the cites of the word in classical literature, discovered the undoubtable source.</span></h3></li>  
        </ul>
      </a>
    </div>
 
</div> 
<div class="col-md-6">

    <div class="onbaord-box"> 
      <a  routerLink="/vendor-products">
      <ul class="list-inline d-flex align-items-center">
          <li class="list-inline-item"><img src="assets/images/product.svg" /></li>
          <li class="list-inline-item ps-1"><h3>On Products<span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin and going through the cites of the word in classical literature, discovered the undoubtable source.</span></h3></li>  
        </ul>
      </a>
    </div>
 
</div> 
<div class="col-md-6">

    <div class="onbaord-box"> 
      <a  routerLink="/vendor-pickup">
      <ul class="list-inline d-flex align-items-center">
          <li class="list-inline-item"><img src="assets/images/toxic-warning-sign.svg" /></li>
          <li class="list-inline-item ps-1"><h3>Pick Up<span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin and going through the cites of the word in classical literature, discovered the undoubtable source.</span></h3></li>  
        </ul>
      </a>
    </div>
 
</div>  
<div class="col-md-6">

    <div class="onbaord-box"> 
      <a  routerLink="/vendor-qr">
      <ul class="list-inline d-flex align-items-center">
          <li class="list-inline-item"><img src="assets/images/qr.svg" /></li>
          <li class="list-inline-item ps-1"><h3>QR Redemption<span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin and going through the cites of the word in classical literature, discovered the undoubtable source.</span></h3></li>  
        </ul>
      </a>
    </div>
 
</div> 
<div class="col-md-6">

    <div class="onbaord-box"> 
      <a  routerLink="/vendor-coupons">
      <ul class="list-inline d-flex align-items-center">
          <li class="list-inline-item"><img src="assets/images/coupon.svg" /></li>
          <li class="list-inline-item ps-1"><h3>Coupon<span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin and going through the cites of the word in classical literature, discovered the undoubtable source.</span></h3></li>  
        </ul>
      </a>
    </div>
 
</div> 
<div class="col-md-6">

    <div class="onbaord-box"> 
      <a  routerLink="/vendor-taxes">
      <ul class="list-inline d-flex align-items-center">
          <li class="list-inline-item"><img src="assets/images/tax.svg" /></li>
          <li class="list-inline-item ps-1"><h3>Tax<span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin and going through the cites of the word in classical literature, discovered the undoubtable source.</span></h3></li>  
        </ul>
      </a>
    </div>
 
</div> 
<div class="col-md-6">

    <div class="onbaord-box"> 
      <a  routerLink="/vendor-commisions">
      <ul class="list-inline d-flex align-items-center">
          <li class="list-inline-item"><img src="assets/images/percentage.svg" /></li>
          <li class="list-inline-item ps-1"><h3>Commissions<span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin and going through the cites of the word in classical literature, discovered the undoubtable source.</span></h3></li>  
        </ul>
      </a>
    </div>
 
</div> 
<div class="col-md-6">

    <div class="onbaord-box"> 
      <a  routerLink="/vendor-payments">
      <ul class="list-inline d-flex align-items-center">
          <li class="list-inline-item"><img src="assets/images/Cashpayment.svg" /></li>
          <li class="list-inline-item ps-1"><h3>Payment Intervals<span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin and going through the cites of the word in classical literature, discovered the undoubtable source.</span></h3></li>  
        </ul>
      </a>
    </div>
 
</div> 
<div class="col-md-6">

    <div class="onbaord-box"> 
      <a  routerLink="/vendor-signature">
      <ul class="list-inline d-flex align-items-center">
          <li class="list-inline-item"><img src="assets/images/Contract.svg" /></li>
          <li class="list-inline-item ps-1"><h3>E-Signature<span>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin and going through the cites of the word in classical literature, discovered the undoubtable source.</span></h3></li>  
        </ul>
      </a>
    </div>
 
</div> 


</div>
</div>
