.second h5:hover {
    text-decoration: underline;
  }
  .offer__title{
    padding-left: 74px;
  }
.offer__title h4{
    margin: 0 0 0px;
    /* text-align: center; */
    color:#A4A4A4;
    font-size:12px;
    font-family: 'Montserrat', sans-serif !important;
}
.modal__padding{ 
    padding: 69px;
}
.offer__title h3{
    font-weight: 600 !important;
    /* text-align: center; */
    font-size:14px;
    font-family: 'Montserrat', sans-serif !important;
}
.offer__title1 h4{
    margin: 0 0 0px;
    color:#A4A4A4;
    font-size:12px;
    font-family: 'Montserrat', sans-serif !important;
}
.product_title{
    text-align: center;
    padding-left: 46px;
    padding-top: 17px;
}
.offer__title1 h3{
    font-size: 14px;
    color: black;
    font-family: 'Montserrat', sans-serif !important;
}
.first_section{
    margin-top:10px; 
    margin-bottom: 10px;
    padding: 0px 48px 0px;
}

.first{
    width:15%;
    }
    .third{
        width:5%;
        }
    .second{
        width:79%;
        margin-left: 1%;
    }
    .offer-box h5{
        font-size: 0.9rem;
        color:var(--second);
    font-weight: 600;
    margin-bottom: 0.25rem;
    }
    .offer-box  p{
    font-size: 0.75rem;
    margin-bottom: 0;
    }
    .offer-box h6{
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 0;
        margin-top: 0.5rem;
    }
    .offer-image{
        border-radius: 6px;
        height: 80px;
        width: 100%;
    }
    .offer-delete img{
       height: 20px;
    }

.close_button{ 
    float: right;
    height: 38px;
    /* padding-top: 10px; */
    padding-right: 6px;
}

@media (min-width:412px){
    .offer__title {
        padding-left: 12px;
    }
    .offset-1 {
        margin-left: 0px;
    }
}