<div class="row align-items-center mb-3">
  <div class="col-md-10 col-7 col-sm-7">
    <h4 class="application-heading">Products</h4>
  </div>  
  <div class="col-md-2 col-5 col-sm-5">
    <button type="button" class="btn1  filter__button" data-bs-toggle="modal" 
    data-bs-target="#exampleModal"> 
    
      Filter   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-filter" viewBox="0 0 16 16">
        <path d="M6 10.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-2-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z"></path>
        </svg>
    </button>
     </div>
 </div>
<div class="card">
 <div class="row h-100 align-items-center">
 <div class="col-md-3">
    <img src="assets/images/productgridlist.svg" class="img-fluid product-image" />
 </div>   
 <div class="col-md-6">
    <p class="cardp">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.</p>
</div> 
<div class="col-md-3">
    <div class="text-center">
        <a class="button" routerLink="/addProduct">Add Product</a>  
      </div>
</div>  
 </div>   
</div>
<!-- <h4 class="application-heading">Products</h4> -->
    <div class="card">
<div class="table-responsive">
           <table class="table">
            <thead>
              <tr style="background-color: white;">
                <th>Name</th>
                <th>Product Id</th>
                <th>Category</th>
                <th>Sub Category</th>
                <th>Gender</th>
                <th>Description</th>
                <th>Price</th>
                <th>Taxes</th>
                <th>Total Price</th>
                <th>No of Units</th>
                <th>Image</th>
                <th>Video</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Rajesh</td>
                <td>JOY123678452</td>
                <td>Jewellery</td>
                <td>Bangles Bangles</td>
                <td>Female</td>
                <td>Lorem ipsumm ipsum</td>
                <td>20,000</td>
                <td>1000</td>
                <td>21,000000</td>
                <td>20000pc</td>
                <td><img src="https://media.voylla.com/fit-in/206x206/filters:max_bytes(30720):format(jpeg)/mobile_cf/earrings-1.jpg" class="table-img"></td>
                <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBGBalaCdpc9sLaREKV79vzWr70c96PlI9AA&usqp=CAU" class="table-img"></td>
                <td><img src="assets/images/trash.svg" data-bs-toggle="modal" 
                  data-bs-target="#exampleModal_del" class="delete-icon"></td>
            </tr>
            <tr>
                <td>Rajesh</td>
                <td>JOY1236</td>
                <td>Jewellery</td>
                <td>Bangles</td>
                <td>Female</td>
                <td>Lorem ipsumm ipsum</td>
                <td>20,000</td>
                <td>1000</td>
                <td>21,000</td>
                <td>20pc</td>
                <td><img src="https://media.voylla.com/fit-in/206x206/filters:max_bytes(30720):format(jpeg)/mobile_cf/earrings-1.jpg" class="table-img"></td>
                <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBGBalaCdpc9sLaREKV79vzWr70c96PlI9AA&usqp=CAU" class="table-img"></td>
                <td><img src="assets/images/trash.svg" class="delete-icon"></td>
            </tr>
            <tr>
                <td>Rajesh</td>
                <td>JOY1236</td>
                <td>Jewellery</td>
                <td>Bangles</td>
                <td>Female</td>
                <td>Lorem ipsumm ipsum</td>
                <td>20,000</td>
                <td>1000</td>
                <td>21,000</td>
                <td>20pc</td>
                <td><img src="https://media.voylla.com/fit-in/206x206/filters:max_bytes(30720):format(jpeg)/mobile_cf/earrings-1.jpg" class="table-img"></td>
                <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBGBalaCdpc9sLaREKV79vzWr70c96PlI9AA&usqp=CAU" class="table-img"></td>
                <td><img src="assets/images/trash.svg" class="delete-icon"></td>
            </tr>
            <tr>
                <td>Rajesh</td>
                <td>JOY1236</td>
                <td>Jewellery</td>
                <td>Bangles</td>
                <td>Female</td>
                <td>Lorem ipsumm ipsum</td>
                <td>20,000</td>
                <td>1000</td>
                <td>21,000</td>
                <td>20pc</td>
                <td><img src="https://media.voylla.com/fit-in/206x206/filters:max_bytes(30720):format(jpeg)/mobile_cf/earrings-1.jpg" class="table-img"></td>
                <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBGBalaCdpc9sLaREKV79vzWr70c96PlI9AA&usqp=CAU" class="table-img"></td>
                <td><img src="assets/images/trash.svg" class="delete-icon"></td>
            </tr>

            <tr>
                <td>Rajesh</td>
                <td>JOY1236</td>
                <td>Jewellery</td>
                <td>Bangles</td>
                <td>Female</td>
                <td>Lorem ipsumm ipsum</td>
                <td>20,000</td>
                <td>1000</td>
                <td>21,000</td>
                <td>20pc</td>
                <td><img src="https://media.voylla.com/fit-in/206x206/filters:max_bytes(30720):format(jpeg)/mobile_cf/earrings-1.jpg" class="table-img"></td>
                <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBGBalaCdpc9sLaREKV79vzWr70c96PlI9AA&usqp=CAU" class="table-img"></td>
                <td><img src="assets/images/trash.svg" class="delete-icon"></td>
            </tr>
            <tr>
                <td>Rajesh</td>
                <td>JOY1236</td>
                <td>Jewellery</td>
                <td>Bangles</td>
                <td>Female</td>
                <td>Lorem ipsumm ipsum</td>
                <td>20,000</td>
                <td>1000</td>
                <td>21,000</td>
                <td>20pc</td>
                <td><img src="https://media.voylla.com/fit-in/206x206/filters:max_bytes(30720):format(jpeg)/mobile_cf/earrings-1.jpg" class="table-img"></td>
                <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBGBalaCdpc9sLaREKV79vzWr70c96PlI9AA&usqp=CAU" class="table-img"></td>
                <td><img src="assets/images/trash.svg" class="delete-icon"></td>
            </tr>
            <tr>
                <td>Rajesh</td>
                <td>JOY1236</td>
                <td>Jewellery</td>
                <td>Bangles</td>
                <td>Female</td>
                <td>Lorem ipsumm ipsum</td>
                <td>20,000</td>
                <td>1000</td>
                <td>21,000</td>
                <td>20pc</td>
                <td><img src="https://media.voylla.com/fit-in/206x206/filters:max_bytes(30720):format(jpeg)/mobile_cf/earrings-1.jpg" class="table-img" /></td>
                <td><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQBGBalaCdpc9sLaREKV79vzWr70c96PlI9AA&usqp=CAU" class="table-img" /></td>
                <td><img src="assets/images/trash.svg" class="delete-icon"></td>
            </tr>
              

            </tbody>
          </table>
          <div class="text-end">
          <ul class="pagination justify-content-end">
            <li class="page-item"><span class="page-link active" href="#">1</span></li>
            <li class="page-item"><span class="page-link" href="#">2</span></li>
            <li class="page-item"><span class="page-link" href="#">3</span></li>
            <li class="page-item"><span class="page-link" href="#">Next</span></li>
          </ul>
        </div>
      </div>
    </div>


  <!-- modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria- 
  labelledby="exampleModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered modal-lg"> 
   
    <div class="modal-content"> 
    
      <div class="container modal__padding">
      
        <div class="row">  
          <h2 class="product_title"><span style="text-align: center;">Filter</span>  <span><img src="assets/images/del.png" data-bs-dismiss="modal" aria-label="Close" class="close_button"></span>
                       
          </h2> 
            <div class="col-md-12 col-12 form_padding">    
             
               <div class="row">
                <div class="col-md-12 col-12">  
                <mat-form-field  class="form-group col-md-6 col-sm-12" floatLabel="always" required>
                  <mat-label> Catgeory</mat-label>
                  <mat-select placeholder="Select Catgeory">
                    <mat-option value="one">Catgeory</mat-option>
                    <mat-option value="two">Catgeory</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field  class="form-group col-md-6 col-sm-12" floatLabel="always" required>
                  <mat-label>Sub Catgeory</mat-label> 
                  <mat-select placeholder="Select Sub Catgeory">
                    <mat-option value="one">Sub Catgeory</mat-option>
                    <mat-option value="two">Sub Catgeory</mat-option>
                  </mat-select>
                </mat-form-field> 
                <mat-form-field  class="form-group col-md-6" floatLabel="always" required>
                  <mat-label>Gender</mat-label> 
                  <mat-select placeholder="Select Gender">
                    <mat-option value="one">Male</mat-option>
                    <mat-option value="two">Female</mat-option>
                  </mat-select>
                </mat-form-field> 
                <mat-form-field  class="form-group col-md-6" floatLabel="always" required>
                  <mat-label>Price</mat-label>  
                  <mat-select placeholder="Select Price">
                    <mat-option value="one">1000</mat-option> 
                    <mat-option value="two">10000</mat-option>
                  </mat-select>
                </mat-form-field> 
                <mat-form-field  class="form-group col-md-6" floatLabel="always" required>
                  <mat-label>No. of units</mat-label>  
                  <mat-select placeholder="Select Units">
                    <mat-option value="one">1000</mat-option> 
                    <mat-option value="two">10000</mat-option>
                  </mat-select>
                </mat-form-field> 
                <mat-form-field  class="form-group col-md-6" floatLabel="always" required>
                  <mat-label>Product Id</mat-label>  
                  <mat-select placeholder="Select Product Id">
                    <mat-option value="one">1000</mat-option> 
                    <mat-option value="two">10000</mat-option>
                  </mat-select>
                </mat-form-field>  
               
                </div>
                
              </div>
              <div class="row button__top">
                <div class="col-md-6  col-5 col-sm-5 mobile_filter">
                  <button type="button" class="btn  filter__button1" >Reset</button>
              </div>  
              <div class="col-md-2  col-5 col-sm-5"> 
                <button type="button" class="btn  filter__button2" >Apply</button>
            </div> 
              </div>
          </div> 
        </div> 
        </div>
    </div>
  </div>
  </div>


  
  <div class="modal fade" id="exampleModal_del" tabindex="-1" aria- 
  labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm"> 
    <div class="modal-content">
  
      <div class="modal-body text-danger"> 
    
    
      <h4 class="created-msg" >Are You sure Want to Delete Product </h4> 
      <div class="btn-group">
        <span class="btn_top">
        <button class="btn no " style="background: gainsboro;">No</button>
        <button class="btn yes" data-bs-toggle="modal" 
        data-bs-target="#exampleModal_close" style="background: gainsboro;color:red; font-weight: 700;">Yes</button>
      </span>
      </div>
      </div>
  
    </div>
  </div>
  </div>


  
  <div class="modal fade" id="exampleModal_close" tabindex="-1" aria- 
  labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-sm"> 
    <div class="modal-content">
  
      <div class="modal-body text-danger"> 
      <img src="assets/images/delete.svg" class="thumb-img">
    
      <h4 class="created-msg">Product Deleted Successfully </h4> 
      </div>
  
    </div>
  </div>
  </div>