<div class="card">
    <div class="row h-100 align-items-center">
    <div class="col-md-3">
       <img src="assets/images/bank.svg" class="img-fluid product-image" />
    </div>   
    <div class="col-md-6">
       <p class="cardp">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This book is a treatise on the theory of ethics, very popular during the Renaissance.</p>
   </div> 
   <div class="col-md-3">
       <div class="text-center">
           <a class="button" routerLink="/add-bank-details">Add Bank</a>  
         </div>
   </div>  
    </div>   
   </div>
   <h4 class="application-heading" >Bank Details</h4>

       <div class="card position-relative">
          
<div class="row"> 
    <div data-bs-toggle="modal" 
    data-bs-target="#exampleModal"><img src="assets/images/trash.svg"  style="float: right;"></div>
 <div class="col-md-6">  
 <span class="details-label">Bank Name</span>  
 <label class="details-highlight">HDFC</label>  
 </div>   
 <div class="col-md-6"> 
    <span class="details-label">Bank Holder  Name</span>  
    <label class="details-highlight">Rajesh Kumar</label>  
    </div>  
    <div class="col-md-6"> 
        <span class="details-label">Bank Account Number</span>  
        <label class="details-highlight">1234567890</label>  
        </div>  
        <div class="col-md-6"> 
            <span class="details-label">IFSC code</span>  
            <label class="details-highlight">HDFC000045</label>  
            </div>  
</div>
           </div>


           <div class="modal fade" id="exampleModal" tabindex="-1" aria- 
labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-sm"> 
  <div class="modal-content">

    <div class="modal-body text-danger"> 
    <img src="assets/images/delete.svg" class="thumb-img">
  
    <h4 class="created-msg">Bank Account Deleted Successfully </h4> 
    </div>

  </div>
</div>
</div>
           