<h4 class="application-heading"> Instore Purchase</h4>
<div class="card">
    <div class="row h-100 align-items-center">
    <div class="col-md-3">
       <img src="assets/images/qr-code.svg" class="img-fluid product-image" />
    </div>   
    
   <div class="col-md-3">
       <div class="text-center">
           <a class="button" routerLink="/">Scan QR Code</a>  
         </div>
   </div>  
    </div>   
   </div>
   <div class="card">
   <mat-tab-group mat-stretch-tabs>
    <mat-tab label="QR Code Transaction" class="col">
<div class="mt-3 mb-3">&nbsp;</div>
    <div class="row mt-3 m-0">
        <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label> QR Number</mat-label>
            <input matInput #input type="text"  required value="124356850">
          </mat-form-field>
        <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label> Purchaser Name</mat-label>
            <input matInput #input type="text" value="Rohit" required>
          </mat-form-field>

      
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label> Product Name</mat-label>
            <input matInput #input type="text"  required value="Bracelet">
          </mat-form-field>
        <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label> Product ID</mat-label>
            <input matInput #input type="text" value="JOY4689" required>
          </mat-form-field>

        
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label> Actual Price</mat-label>
            <input matInput #input type="text" value="1000" required>
          </mat-form-field>

          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label> Discount percentage</mat-label>
            <input matInput #input type="text"  required value="20%">
          </mat-form-field>
    
      
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label> Order Id</mat-label>
            <input matInput #input type="text" value="1000" required>
          </mat-form-field>

          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label> Final Price</mat-label>  
            <input matInput #input type="text" value="1000" required>
          </mat-form-field>
        


<div class="mt-5 form-group">
    <button class=" button"   >Generate Invoice</button> 
</div>


</div> 

        </mat-tab>
        <mat-tab label="Coupon Code Transaction" class="col">
            <div class="mt-3 mb-3">&nbsp;</div>
    <div class="row mt-3 m-0">
        <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label> Coupon Code Number</mat-label>
            <input matInput #input type="text"  required value="Enter coupon code">
          </mat-form-field>
        <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label> Purchaser Name</mat-label>
            <input matInput #input type="text" value="Rohit" required>
          </mat-form-field>

      
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label> Product Name</mat-label>
            <input matInput #input type="text"  required value="Bracelet">
          </mat-form-field>
        <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label> Product ID</mat-label>
            <input matInput #input type="text" value="JOY4689" required>
          </mat-form-field>

        
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label> Actual Price</mat-label>
            <input matInput #input type="text" value="1000" required>
          </mat-form-field>

          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label> Mobile Number</mat-label>
            <input matInput #input type="text"  required value="20%">
          </mat-form-field>
          <mat-form-field class="form-group col-md-6" floatLabel="always">
            <mat-label> FInal Price</mat-label>
            <input matInput #input type="text" value="1000" required>
          </mat-form-field>
      
          <div class="mt-5 form-group">
            <button class=" button"   >Generate Invoice</button> 
        </div>
        


<!-- <div class="mt-5 form-group">
    <button class=" button"   >Generate Invoice</button> 
</div> -->


</div> 

            </mat-tab>
        </mat-tab-group>
    </div>