<div class="mb-3 text-end">
  <p class="nav-breadcrumb">Onboarding / <span>E-signature</span></p>  
</div>
<h4 class="application-heading"> E-signature</h4>
<div class="card">
<div class="card-body">
    <div class="row ">
        
  
          <div class="form-group col-md-6" >
            <h6 class="form-highlight-text">Add E-signature </h6>
        <div class="upload-btn-wrapper text-center">
            <img src="assets/images/uploadform.png" class="img-fluid" />
            <label>Click to upload</label>
            <input type="file" name="myfile" />
          </div>
        </div>
      
             
            
        



    

<div class="mt-5 form-group">
    <button class=" button" data-bs-toggle="modal" 
    data-bs-target="#exampleModal" >Finshed Onboarding</button> <button routerLink="/onboarding"  class=" button-gray" >Cancel</button>
</div>


</div> 
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria- 
labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-sm"> 
  <div class="modal-content">

    <div class="modal-body text-danger">
    <img src="assets/images/verified.svg" class="thumb-img">
    <h4 class="created-msg">Store Id 568975</h4> 
    <h4 class="created-msg">Product Added Successfully </h4>
    </div>

  </div>
</div>
</div>